
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Kalam&family=Montserrat:wght@400;500&family=Raleway:wght@400;500&display=swap');

:root {
  --blue: #0652f6;
  --light-blue: #93c5fd;
  --sky: #c9e8fd;
  --sky-white: #f0f9ff;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  padding: auto;
}


a {
  font-weight: normal;
}

p {
  text-align: center;
}

.firstp {
  font-weight: bold;
  font-size: larger;
  font-style: normal;
}

/* container */

.container {
  width: auto;
  display: block;
  text-align: center;


}

.container-center {
  padding: 1rem 1rem 1.5rem 1rem;
  word-spacing: 2px;
  border-radius: 1.5rem;
  box-shadow: 7px 20px 50px skyblue;
  margin: auto;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  min-height: fit-content;
  margin-bottom: 1.5rem;
}

/* links */

.link {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  display: inline-flex;
  position: relative;
  max-width: fit-content;
  min-width: fit-content;
}

.link-Primary {

  width: 100%;
  font-size: medium;
  background-color: var(--blue);
  border-radius: 0.5rem;
  padding: 0.6rem 0.7rem;
  color: rgb(215, 241, 255);
}

.link-Secondary {
  width: 100%;
  color: var(--blue);
  padding: 0.5rem 0.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1px solid var(--blue);
}


/* blog */
.bloglinkSecondary {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  display: inline-flex;
  max-width: fit-content;
  min-width: fit-content;
  width: 100%;
  color: var(--blue);
  border-radius: 1.5rem;
  border: 1px solid var(--blue);
}

/* lists */

.list-non-bullet {
  list-style: none;
  padding-bottom: 0rem;
  padding-left: 0rem;
  margin: auto;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.3rem;

}

/* Navigation */

.navigation {
  padding-bottom: 0.7rem;
  background-color: var(--blue);
  color: white;
  padding: 0.7rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: auto;
  margin: auto;
  height: auto;
}

.navigation .nav-brand {
  text-align: left;
  font-size: 1.2rem;
  font-family:  "Montserrat", sans-serif;
}

.navigation .nav-pills {
  text-align: right;
  margin: 0.5rem 0.5rem;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
  font-size: large;
}

/* header */

.hero {
  padding: 3rem;
  padding-bottom: 2rem;
}

.hero-img {

  display: block;
  width: 35%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero .hero-heading {
  text-align: center;
  font-size: 2.3rem;
  color: var(--light-blue);

}

.hero .hero-heading .heading-inverted-home{
  color: var(--blue);
  text-align: center;
  display: block;
}

.hero .hero-heading .heading-inverted {
  color: var(--blue);
  text-align: center;
 
}

.secondary-style {
  display: block;
  text-align: center;
}

.section {
  padding: 2.2rem;
}

.section h1 {
  font-size: 1.7rem;

}

.txt-spacing {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

.sky {
  background-color: #eff6ff;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}



/** blogs **/

.container-center .showcase-list {
  padding: 0rem;
  border-radius: 1rem;
  display: block;
  text-align: center;
  margin: 0.8rem auto;
}

.showcase-list h1 {
  margin: 0.2rem;
}

.showcase-list p {
  padding-bottom: 0.7rem;
}

.showcase-blog {
  padding-bottom: 0rem;
  text-align: center;
}

/* footer */
.footer {
  background-color: var(--blue);
  padding: 1rem 0.5rem;
  text-align: center;
  color: white;
  border-top-left-radius: 1.1rem;
  border-top-right-radius: 1.1rem;
}

.footer .link {
  color: white;

}

.footer .footer-header {
  font-weight: 650;
  font-size: large;
  margin-bottom: 0rem;
}

.footer ul {
  padding-inline-start: 0px;
}


.crdt {
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
}

